language: php

git:
  depth: 1

matrix:
  include:
    - php: 7.1
    - php: 7.2
      env: LINT=true
    - php: 7.2
      env: COMPOSER_FLAGS="--prefer-lowest"

  fast_finish: true

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer update -n $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit
  # Verify coding standard compliance only once
  - if [[ $LINT = true ]]; then
      composer cs-check;
    fi

notifications:
  email: false
