# yamllint disable rule:line-length
# yamllint disable rule:braces

name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ${{ matrix.operating-system }}
    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-require }}

    strategy:
      matrix:
        operating-system: [ ubuntu-latest ]
        php-version: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
        symfony-require: ['^4', '^5', '^6', '^7', '^8']
        composer-flags: [ '' ]
        exclude:
          - symfony-require: "^6"
            php-version: "7.4"
          - symfony-require: "^7"
            php-version: "7.4"
          - symfony-require: "^7"
            php-version: "8.0"
          - symfony-require: "^7"
            php-version: "8.1"
          - symfony-require: '^8'
            php-version: '7.4'
          - symfony-require: '^8'
            php-version: '8.0'
          - symfony-require: '^8'
            php-version: '8.1'
          - symfony-require: '^8'
            php-version: '8.2'
          - symfony-require: '^8'
            php-version: '8.3'

        include:
          - { operating-system: 'ubuntu-latest', php-version: '7.4', symfony-require: '^5', composer-flags: '--prefer-lowest' }
          - { operating-system: 'windows-latest', php-version: '8.0', symfony-require: '^5' }

    name: CI on ${{ matrix.operating-system }} with PHP ${{ matrix.php-version }}, with Symfony ${{ matrix.symfony-require }} ${{ matrix.composer-flags }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: flex, composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}-${{ matrix.dependencies }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}-
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-

      - name: Configure Symfony Flex
        run: composer config extra.symfony.require ${{ matrix.symfony-require }}

      - name: Install dependencies
        run: composer update --optimize-autoloader --no-interaction --no-progress --prefer-dist ${{ matrix.composer-flags }}

      - name: Run tests
        if: github.ref_type == 'branch'
        shell: bash
        run: vendor/bin/phpunit --exclude-group tags

      - name: Run release tests
        if: github.ref_type == 'tag'
        shell: bash
        run: composer run test
